<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <%= partial "head" %>

  <body class="<%= page_classes %>" data-offset="40">
    <div class="uh-page">
      <%= yield %>
    </div>

    <%= partial "footer" %>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "site" %>
  </body>
</html>
